#resultsOne, #resultsTwo, #resultsThree, #resultsFour, #resultsFive, #resultsSix, #resultsSeven, #resultsEight, #displayOne {
  display: none;
  margin-bottom: 2em;
}

img {
  margin: auto;
  width: 100%
}

.col-md-3 {
  background-color: grey;
  float: left;
  color: white;
  text-align: center;
}
